.investor-test-conteiner {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.investor-test-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 10px;
}

.investor-test-title mat-icon {
  font-size: 24px;
  color: #007bff;
  margin-right: 8px;
  cursor: pointer;
}

.investor-test-questionnaire button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}
