.icons-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.icon-item {
  width: 100%;
  padding: 3rem 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.icon-item:hover {
  background-color: #f0f0f0;
}

.icon-item.active {
  background-color: #d3eaf9;
}

.icon-item.active span {
  font-weight: 600;
}



.icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  cursor: pointer;
}

.icons-container svg {
  margin-bottom: 0.5rem;
}

span {
  font-size: 0.875rem;
  color: #000;
}