.recomendation-card{
    font-size: "Roboto";
    font-weight: 600;
    border: none;
}

.card-title {
    margin-top: 1rem;
    height: 3rem; 
    font-size: 1.2rem;
    font-weight: 600;
    text-overflow: ellipsis; 
}

.outlined-button {
    margin-top: 1rem;
    background-color: white;
    color: #005cbb; 
    border: 1px solid #005cbb;
    border-radius: 24px; 
    padding: 8px 16px;
    font-size: 14px;
    text-transform: none; 
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .outlined-button:hover {
    background-color: #005cbb;
    color: white;
  }