<div class="auth-dialog" style="width: 100%;">
  <div class="auth-form">
    <h2>Inicia sesión o regístrate.</h2>
    <p>Para acceder ingresa tu correo y contraseña.</p>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput type="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" />
    </mat-form-field>

    <mat-checkbox>Permanecer conectado</mat-checkbox>
    <a class="forgot-password" href="#">¿Olvidaste tu contraseña?</a>

    <button mat-raised-button color="primary" class="full-width">Continuar</button>

    <div class="divider">o podés ingresar con</div>

    <div class="social-buttons">
      <button mat-icon-button>
        <mat-icon>google</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>facebook</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>apple</mat-icon>
      </button>
    </div>

    <p class="register-link">
      ¿No tiene una cuenta? <a href="#">Regístrate</a>
    </p>
  </div>
  <div class="auth-illustration">
    <img src="assets/images/login.png" alt="Illustration" />
    <div class="logo">
      <img src="assets/images/logo.png" alt="RookSafe Logo" />
    </div>
  </div>
</div>