<div class="card">
    <mat-card class="card-two" appearance="outlined">
      <mat-card-content>
        <p class="card-title">
          {{ title }}
        </p>
      </mat-card-content>
      <div class="card-img">
        <img mat-card-image class="img" [src]="image" alt="{{ title }}" />
      </div>
      <mat-card-actions align="end">
        <button mat-flat-button color="primary" class="outlined-button">
          Leer Reporte
        </button>
      </mat-card-actions>
    </mat-card>
  </div>