section {
  width: 70%;
  box-sizing: border-box;
}
.home-toolbar {
  padding-top: 15px;
  margin-right: 20px;
}
.home-sidenav {
  width: 10%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2),
    inset 0 0 5px rgba(255, 255, 255, 0.1);
}

.home-main {
  margin-top: 5vh;
}

.inversor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  margin-top: 16px;
  gap: 16px;
}

.inversor div {
  max-width: 80%;
}

.inversor h5 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.inversor p {
  font-size: 1rem;
  color: #6c757d;
}

.inversor img {
  max-width: 180px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.how-works {
  display: flex;
  flex-wrap: wrap;
  background-color: #d1f2ff;
  margin-top: 32px;
  border-radius: 8px;
  padding: 32px;
  gap: 16px;
}

.how-works-l {
  flex: 1 1 55%;
}

.how-works-l h6 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.how-works-l p {
  font-size: 1rem;
  line-height: 1.6;
  color: #6c757d;
}

.how-works-r {
  flex: 1 1 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.how-works-r img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: contain;
  margin-bottom: 16px;
}

.recomendation {
  margin-top: 32px;
}

.recomendation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.recomendation-header h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.recomendation-header a {
  text-decoration: none;
  color: #007bff;
  font-size: 1rem;
}

.cards {
  display: flex;
  gap: 16px;
  justify-content: space-around;
}

.for-card {
  flex: 1 1 calc(33.33% - 16px);
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  text-align: center;
  background-color: white;
  padding: 1rem;
  max-width: 30%;
}

.for-card img {
  width: auto;
  max-width: 60%;
  height: auto;
  padding: 1rem;
  max-width: 30%;
}

@media (max-width: 768px) {
  .home-sidenav {
    width: 20%; 
  }
  .inversor {
    flex-direction: column;
    text-align: center;
  }

  .how-works {
    flex-direction: column;
  }

  .how-works-r img {
    margin: 0 auto;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .for-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .home-sidenav {
    width: 30%; 
  }
  .how-works {
    padding: 16px;
  }

  .how-works-l h6,
  .recomendation-header h5 {
    font-size: 1.2rem;
  }

  .how-works-r img {
    max-width: 100%;
  }
}

