<div class="card">
    <div class="card-izquierda">
        <h2>Inicia sesión o regístrate</h2>

        <p>Para acceder ingresa tu correo y contraseña.</p>

        <div class="inputs">
            <input type="text" placeholder="Correo Electronico">
            <input type="password" placeholder="Constraseña">
        </div>
        <div class="checkbox">
            <div class="conectado">
            <input type="checkbox">
            <p>Permanecer conectado</p>
        </div>
        <div>
            <a>¿Olvidaste tu contraseña?</a>
        </div>
        </div>
        <div class="button">
            <button mat-stroked-button>Continuar</button>
        </div>
        <div class="divider">
            <span>o podés ingresar con</span>
          </div>
          <div class="icons">
            <img src="/google.svg">
            <img src="/facebook.svg">
            <img src="/apple.svg">
          </div>
          <div class="register">
            <p>¿No tenes cuenta? <a>Registrate</a></p>
          </div>
    </div>
    <div class="card-derecha">
        <img src="/Group.png">
    </div>

</div>

