
<mat-toolbar class="navbar-onboarding">
    <a class="logo" href="/">
        <img alt="logo" src="/assets/images/logo.png">
    </a>
    <div class="nav-buttons">
        <button mat-flat-button class="button-login">Iniciar Sesión</button>
        <a mat-stroked-button href="" target="_blank">Registrarse
        </a>
    </div>
</mat-toolbar>
<main class="main-onboarding">
    <section class="init-onboarding">
        <div class="title">
            <h1 class="title-1"> Domina tus finanzas y</h1>
            <h1 class="title-2"> prepárate para invertir.</h1>
        </div>
        <div class="gretting-onboarding">
            <p>Explora recursos educativos, descubre tu nivel</p>
                <p>de inversor y practica simulaciones</p>
        </div>


        <button mat-flat-button class="button-init"  (click)="openLoginModal()">Comenzar</button>
    </section>


</main>