.navbar-onboarding {
    display: flex;
    justify-content: space-around;
    background-color: #FDFEFF;
    padding: 2rem 3rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}


.nav-buttons a{
    margin-left: 3vh;
    color: #085499
}
.main-onboarding{
    background-image: url('@assets/images/onboarding-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y:180px ;
    height: 100vh;
    padding: 2 rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

}
.init-onboarding{
    margin-bottom: 40vh;
}
.init-onboarding p {
    margin-top: 1rem;
    font-size: 1rem;
    font-optical-sizing: auto;
}
.gretting-onboarding p{
    font-size: 1rem;
    line-height: 1.5;
    color: #1D1B20;

    margin: 0.5rem 0;
}
.title{
   font-weight: bolder;
    margin-bottom: 2vh;
    font-optical-sizing: auto;
}
.title-1{
    font-weight: bold;
    color: black;
    font-size: 3rem;
    line-height: 1.2;
   
}
.title-2{
    font-weight: bold;
    color: #0d4f96; 
    font-size: 3rem;
    line-height: 1.2;
}
.logo img{
    width: 120px;
    height: auto;
}
.button-init{
    margin-top: 1.5rem;
    font-weight: bold;
}
