.simulator{
  width: 90%;
}
.chart {
  margin-top: 8.5rem;
  width: 100%;
  margin-left: 3.5rem;  
}
.custom-form-field {
  width: 100%;
  max-width: 300px;
}

.custom-select-panel {
  width: 100%;
  max-width: 300px;
  min-width: 150px;

}

.botonArriba {
  margin: 5px;
}

.upbuttons {
  text-align: center;
  align-items: center;
}
.downbuttons{
  text-align: center;
}