<div class="simulator">
  <div class="upbuttons">
    <button class="btn-gra wallet" mat-fab extended>+ / $9000.00 Demo</button>
    <mat-form-field class="btn-select">
      <mat-label>Nivel 1</mat-label>
      <mat-select>
        <mat-option *ngFor="let nivel of niveles" [value]="nivel.value">
          {{ nivel.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Simbolo a operar</mat-label>
      <mat-select>
        <mat-option *ngFor="let nivel of niveles" [value]="nivel.value">
          {{ nivel.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<div id="chart" class="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [title]="chartOptions.title"
    [tooltip]="chartOptions.tooltip"
    [plotOptions]="chartOptions.plotOptions"
  ></apx-chart>
</div>
<div class="downbuttons">
  <button class="btn-gra wallet" mat-fab extended>+ / $9000.00 Demo</button>
  <button class="btn-gra sell" mat-fab extended>Vender</button>
  <button class="btn-gra buy" mat-fab extended>Comprar</button>
</div>
</div>